*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
height: 100%;
overflow-y: auto;
overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    display: flex;
   justify-content:baseline;
   align-items: center;
}
.logo-text{
    margin-left:-0.4rem;
    font-size: 35px;
    
}
.img{
    height:50px;
}
.button{
    display:flex;
   gap: 2rem;
   padding: 0 4em;
   

}
.button div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.button a{
    color: black ;
}
a{
    text-decoration: none;
}
.switch{
    display: grid;
    justify-content: center;
    font-size: 18px;
    color:whitesmoke;
    align-items: center;
    box-shadow: 5px 5px 7px 7px #0000003f;
    height: 30px;
    width: 150px;
    background-color:#e84949;
    transition: background-color;
    transition-duration: 0.1s;
    transition-timing-function:ease-in;
    }
    .switch:hover{
        background-color: black;
    }



    .profile{
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 5rem;
        margin: 4rem auto;
        padding: 0 1rem;
        padding-bottom: 8rem;
    }
    .faded-text{
        position: absolute;
        user-select: none;
        font-size: 7em;
        color: rgb(231,231,231);
        bottom:-16%;
        left: -5%;
        font-weight: bold;
        transition: all 3s;

    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .hero-section-heading{
        font-size: 35px;
        color:#343d68;
        font-weight:500;
    }
    .role{
        color:#4e45d5;
        font-weight:800;
    }
    .hero-section-subheading{
        font-size:45px;
        line-height:45px;

    }
    .paragraph{
        margin-top:1rem;
        width:70%;
        font-weight:500;

    }
    .photos{
        position: relative;
    }
    .absolute{
        position: absolute;
    }
    .pics1{
    padding:2.5rem;
    filter:grayscale(1);
    transition:all 1s;
    animation:subh 5s linear infinite;
    }
   .pics1 img{
      z-index:-9;
   }
   @keyframes subh{
    0%{
        filter: grayscale(1);
        transform: scale(1);

    }
    50%{
        filter: grayscale(0);
        transform: scale(1.1);

    }
    100%{
        filter: grayscale(1);
        transform: scale(0.9);
        shadow:3px 3px 10px solid black;


    }
    
   }
   .icon-dots{
    z-index:9;
    bottom:-1rem;
    right: 0;
    animation-name:dot;
    animation-duration:2s;
    animation-iteration-count: infinite;
   }
   @keyframes dot {
    0%{
transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
   }
   .icon-cube{
    z-index: 9;
    top:-0.8rem;
    right:1rem;
    animation-name: cube;
    animation-duration:2s;
    animation-iteration-count: infinite;
   }
   @keyframes cube {
    0%{
transform:rotateY(0deg) translateY(0px);
    }
    50%{
transform: rotateY(180deg) translateY(-12px);
    }
    100%{
    transform: rotateY(180deg) translateY(0px);
    }
   }
   .icon-circle{
    z-index: 9;
    bottom:0;
    left:0;
    animation-name:icon;
    animation-duration:3s;
    animation-iteration-count: infinite;
   }
   @keyframes icon {
    0%{
        bottom:0;
        left:0;

        }
    50%{
        bottom:5%;
        left:10%;
        
        }
    100%{
        bottom:0;
        left:0;
        }
    
   }
   .icon-zigzags{
    z-index: 9;
    top: 1.5em;;
    left:-0.3em ;
    animation-name: zigzags;
    animation-duration:3s;
    animation-iteration-count: infinite;
   }
   @keyframes zigzags {
    0%{
        transform: translateY(0px);
            }
            50%{
                transform: translateY(-15px);
            }
            100%{
                transform: translateY(0px);
            }
   }
   .icon-plus{
    z-index:9;
    top: -0.8em;
    left:50%;
    animation-name:plus;
    animation-duration:3s;
    animation-iteration-count: infinite;
   }
   @keyframes plus {
    50%{
        top:3%;
        left:48%;
    }
    

   }
   .project-section{
    background-color:rgb(231,231,231);
   margin-top: 4rem;
   }
   .head-text{
    color: #e84949;
    text-align: center;
    font-size:90px;
    padding-top: 30px;
   }
   .project-container{
    display: flex;
    max-width:1200px;
    margin:0 auto;
    padding: 3rem 0;
    gap:120px;
    flex-direction: column;
   }
   .project-card{
    width:90%;
    height:550px;
    background-image: url(Project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
   }
   .project-card::after{
    content:"";
    top:0;
    bottom:0;
    left: 0;
    right:0;
    position: absolute;
    background-color:#1f1f1f9a;
    z-index:0;
   
   }
   .project-card::before{
    content: "";
    top:0;
    bottom:0;
    left: 0;
    right:0;
    position: absolute;
    background:linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
   }
   .project-card:hover::before{
    transform: scaleX(1);
   }
   .projectnumber{
    position: absolute;
    font-size: 200px;
    font-weight: 500px;
    color: white;
    z-index:10;
    opacity:0;
   }
   .project-card:hover .projectnumber{
opacity:1;
   }
   .righty{
    right: -40px;
    top: -45px;
   }
   .lefty{
    left: -40px;
    top: -45px;
   }
   .project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index:5 ;
    padding:2em;
    bottom:20%;
    color: white;
    gap:1em;
    transition: all 0.4s;
   }
   .left{
    left:50%;
   }
   .right{
    right:40%;
   }
.skiils{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width:60%;
}
.p-skill{
width:40px;
}
.project-heading{
    font-size:50px ;
    font-weight: bold;
    line-height:3em;
}
p{
    width:70%;
    font-style: italic;
    font: size 16px;;

}
.switchgrp{
    display: flex;
    gap:0.9rem;
   align-items: center;
}
.icon{
    cursor: pointer;
    color: white;
    font: size 35px;;
}
.icon:hover{
color: #e84949;
}
.project-card:hover .project-content{
transform: scale(1.1);
}
#project2{
    background-image: url(Project2.png);
    margin-left:120px;
}
#project3{
    background-image: url(Project3.png);
}
#project4{
    background-image: url(Project4.png);
    margin-left:120px;
}
.myskill{
    position: relative;
    display: flex;
    padding:5rem;
    margin:10rem auto;
    gap:30px;
}
.left-part{
    display: flex;
    flex-direction: column;
    width:50%;
}
.right-part{
    display: flex;
    flex-wrap: wrap;
    width:50%;
    position:relative;
    gap:2rem;
    justify-content: center;
}
.f-text{
    position: absolute;
    user-select: none;
    font-size: 15em;
    color: rgb(231,231,231);
    bottom:-34.5%;
    right: -25%;
    font-weight: bold;
    transition: all 3s;
}
.blob{
    position: absolute;
    top: 50%;
    left:50%;
    animation:blob 4s linear infinite;
    transform: translate(-50% ,-50%);
    z-index:-5;
}
@keyframes blob{
 50%{
    top:54%;
    left:46%;
 }
}
.heading{
   font-size: 50px;
   font-style:bold;
   color: #e84949;
   line: height 50px;
}
.caps{
    font-size:90px ;
    font-weight: bold ;
}
.para{
margin-top: 1rem;
width: 85% ;
text-align: justify;
}
.para  p{
    margin: 15px 0 ;
}
.slogo{
    width:90px;
    transition: all 0.5s;
}
.slogo:hover{
    transform: scale(1.2);
}
.contact{
    background-color:  rgb(231,231,231);
    width: 100%;
}
.cheading{
font-size: 5rem;
color: #e84949;
padding-top: 2rem;
}
.csub-heading{
font-size: 3rem;
color: #343d68aa;;
}
.c-form-container{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    width:70%;
    margin:2rem 5rem;
    gap:30px;

}
.formfield-container{
    width:100%;
}
.formfield{
    width:100%;
    height:24px;
    padding: 0 2rem;
    font-size:18px;
    border-radius:5px;
    box-shadow:2px 2px 10px #1f1f1f;
    font-weight: 500;
    border:none;
    margin-top:27px;
}
.formfield-textarea{
    height:42px;
    padding-top:1rem;
}
footer{
    margin-top:-1px;
    position: relative; 
    background-color:#343d68;
    padding:5rem;
}
.footwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    padding:1.2rem;
}
.ffoottext{
    position: absolute;
    bottom: 0;
    left:0;
    user-select: none;
    color:#535c87;
    font-size:5em;
}
.footlink{
    display: flex;
    gap:1.2rem;
}
.footlink div a{
    color:white;
    text-decoration: none;
}
.footlink div a:hover{
    color: #e84949;
}
.footicons{
    display: flex;
    gap:1.2rem;
}